/x  `* Empty. Add your own CSS if you like */
button.small {
margin: 0px;
width: 24px;
height: 24px;
font-size: 12pt;
font-weight: bold;
color: black;
}
.button {
margin: 0px;
width: 80px;
height: 80px;
font-size: 12pt;
font-weight: bold;
background-color: #387ef5;
color: black;
}

.button-stop {
margin: 0px;
width: 80px;
height: 80px;
font-size: 12pt;
font-weight: bold;
background-color: #F70606;
color: black;
}

.trPic{
margin: auto;

position:absolute;
/*top:0px;*/
top: 60%; left: 0; bottom: 0; right: 0;
left:0px;
width:320px;
height:320px;
/*background: url(http://192.168.178.66:8080/?action=stream) no-repeat;*/
background: #FFFFFF;
border:0px solid #000000;
}
.trPic .forward{
position:absolute;
top:40px;
left: 120px;
width:80px;
height:80px;
opacity:1;
background:  #387ef5;
background-position: center center;
border:0px solid #000000;
}

.trPic .stop{
position:absolute;
top: 120px;
left: 120px;
width:80px;
height:80px;
opacity:1;
z-index: 0;
background:  #F70606;
background-position: center center;
border:0px solid #000000;
}

.trPic .left{
position:absolute;
top: 120px;
left: 40px;
width:80px;
height:80px;
opacity:1;
z-index: 0;
background:  #387ef5;
background-position: center center;
border:0px solid #000000;
}

.trPic .right{
position:absolute;
top:120px;
left:200px;
width:80px;
height:80px;
opacity:1;
z-index: 0;
background:  #387ef5;
background-position: center center;
border:0px solid #000000;
}

.trPic .backward{
position:absolute;
top:200px;
left:120px;
width:80px;
height:80px;
opacity:1;
z-index: 0;
background:  #387ef5;
background-position: center center;
border:0px solid #000000;
}

.video{
  margin: auto;
  text-align : center;
  position:relative;
  top:0px;
  left:0px;
  height:240px;
  opacity:1;
  z-index: 0;
  background:  #ffffff;
  background-position: center center;
  border:0px solid #000000;
}
